@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" />
<div class="bg-info">
    <div class="text-center">
        <h1 class="display-4 text-danger">Welcome </h1>
        <h2 class="text-danger">Jitendra sharma</h2>
        <p>Learn about building Web apps with ASP.NET Core.</p>
    </div>
</div>
